<ul class="nav">
	<li><%= link_to "Portfolio", root_path, :class => 'brand' %></li>
	<li class="divider-vertical"></li>
    <li><%= link_to "Projects", projects_path, :class => 'brand' %></li>
	<li class="divider-vertical"></li>
    <li><%= link_to "Technical Skills", tech_skills_path, :class => 'brand' %></li>
	<li class="divider-vertical"></li>
	<li><%= link_to "Personal Development", pdev_index_path, :class => 'brand' %></li>
	<li class="divider-vertical"></li>
	<li><%= link_to "Contact", contact_path, :class => 'brand' %></li>
</ul>