<ul class="nav pull-left">
	<li><a><%= image_tag("PortfolioPhoto.png", :alt => "Photo") %></a></li>
	<li><a><%= link_to "Portfolio", root_path, :class => 'brand' %></a></li>	
	<li class="divider-vertical"></li>
    <li><a><%= link_to "Projects", projects_path, :class => 'brand' %></a></li>	
    <li class="divider-vertical"></li>
    <li><a><%= link_to "Technical Skills", tech_skills_path, :class => 'brand' %></a></li>
    <li class="divider-vertical"></li>	
	<li><a><%= link_to "Personal Development", pdev_index_path, :class => 'brand' %></a></li>	
	<li class="divider-vertical"></li>
	<li><a><%= link_to "Contact", contact_index_path, :class => 'brand' %></li>	
</ul>